{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --parser json --write"
  ],
  "*.md": [
    "prettier --parser markdown --write"
  ],
  "*.{yml,yaml}": [
    "prettier --parser yaml --write"
  ],
  "*.html": [
    "prettier --parser html --write"
  ],
  "!src/database/migrations/**": []
}